.vs/
SynchronizedTelepad/bin/
SynchronizedTelepad/obj/
WrangleFlyers/bin/
WrangleFlyers/obj/
AchievementTracker/bin/
AchievementTracker/obj/

FluidShipping/bin/
FluidShipping/obj/
LadderHatch/bin/
LadderHatch/obj/
